{include file="public:header" /}
<div class="main-wrap">
	<div class="crumb-wrap">
		<div class="crumb-list">
            <i class="icon-font"></i>
            <a href="{:url('Index/index')}">首页</a>
            <span class="crumb-step">&gt;</span>
            <a class="crumb-name" href="{:url('Product/index')}">产品管理</a>
            <span class="crumb-step">&gt;</span><span>修改产品</span>
		</div>
		
	</div>
	<div class="result-wrap">
		<div class="result-content">
			<form action="{:url('Product/edit')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{$result.id}" />
				<table class="insert-tab" width="100%" border="1">
					<tbody>
                        <tr>
                            <th  style=" width:100px;">产品名：</th>
                            <td>
                                <input class="common-text" id="name" name="name"  type="text" value="{$result.name}" maxlength="10">
                            </td>
                        </tr>   
                        <tr>
                            <th>产品编号：</th>
                            <td>
                                <input class="common-text" id="model" name="model"  type="text" value="{$result.model}" max="15">
                            </td>
                        </tr>  
                        <tr>
                            <th>生产日期：</th>
                            <td>
                                <input class="common-text" id="date" name="date"  type="text" value="{$result.date}" >
                            </td>
                        </tr>    
                     
                        <tr>
                            <th>产地：</th>
                            <td>
                           <input class="common-text" id="made" name="made"  type="text" value="{$result.made}" >
                            </td>
                        </tr>  
                        <tr>
                            <th></th>
                            <td>
                                    <input class="btn btn-primary btn6 mr10"  value="提交" type="submit" onclick="checkInfo();return false;">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">


                            </td>
                        </tr>
					</tbody>
				</table>

			</form>
	
		</div>
		
	</div>
</div>
</body>
</html>
<script type="text/javascript">
    function checkInfo(){
        var name = document.getElementById('name').value;
        var model = document.getElementById('model').value;
        if (name =="") {
            alert("请输入姓名");
            return;
        }
        if (model ==""){
            alert("请输入产品编号");
            return;
        }
        document.form.submit()
    }
</script>